.navigator {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 15px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

header ul {
  justify-content: flex-end;
}

li {
  text-decoration: none;
  padding: 10px;
}

header li {
  margin-left: 10px;
  margin-right: 10px;
}

a {
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

footer ul {
  margin: 0;
  padding: 0;
  justify-content: center;
}

footer a {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
}

footer a:hover {
  text-decoration: underline;
}

header a {
  font-weight: bold;
}

.links a {
  color: black;
}

.links a:hover {
  text-decoration: underline;
}

.button-primary {
  display: block;
  position: relative;
  background-color: crimson;
  border-radius: 30px;
}

.button-primary:hover {
  background-color: rgb(197, 23, 58);
}

.button-primary a {
  display: block;
  color: white;
}

.button-secondary {
  display: block;
  background-color: rgb(240, 240, 240);
  border-radius: 30px;
}

.button-secondary:hover {
  background-color: lightgray;
}

.button-secondary a {
  display: block;
  color: black;
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  text-align: center;
  font-size: xx-large;
}

.title h1 {
  width: 50vw;
  min-width: 500px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.emphasis {
  color: crimson;
  font-weight: bolder;
}

#background {
  position: relative;
}

#background::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    0deg,
  rgba(255, 255, 255, 0) 70%, 
  rgb(255, 255, 255) 100%);
}

#background img {
  width: 100%;
}