footer ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

footer li {
  text-decoration: none;
  padding: 10px;
}

footer a {
  text-decoration: none;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
}

footer a:hover {
  text-decoration: underline;
}
